
<% if @menu=="판매"%>

  <div class="panel panel-default">
      
    <input type="text" class="form-control" id="contact-list-search">
         
      <ul class="list-group" id="contact-list">
        <% Book.where('user_id =?',current_user.id).reverse_each do |book|%>
        <!--<a href="/deal/view/%=book.id%>" class="list-group-item">-->
          <% @percent = ((1 - book.sell_price.to_f/book.book_price.to_f)*100).to_i %>
          <li class="list-group-item">
              <div class="col-xs-12 col-sm-3">
                  <img class="media-object" src="<%=book.image_url%>" style="float:left;padding-right:20px" width="120" height="120">
              </div>
              <div class="col-xs-12 col-sm-6">
                  <a href="/deal/view/<%=book.id%>">
                    <b><h4 class="media-heading">[<%=book.book_category%>] <%=book.book_title%> </h4>
                  </a>
        					판매가: <%=book.sell_price%>원 (정가대비 <%=@percent%>% 할인)<br>
        					판매등록일: <%= book.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d %H:%M:%S")%></b>
              </div>
              <div class="col-xs-12 col-sm-3">
                  <% if book.status == "거래중" %>
                    <span class="label label-warning" ><%=User.find(book.buyer).nickname%>님과 <%=book.status%></span><br>
                    <span class="glyphicon glyphicon-phone-alt"></span> : <%=User.find(book.buyer).phone%><br>
                    <button data-target="#deal_cancel_<%=book.id%>" data-toggle="modal" class="btn btn-warning btn-sm" type="button"><%=User.find(book.buyer).nickname%>님과 거래 취소</button>
                    <button data-target="#deal_end_<%=book.id%>" data-toggle="modal" class="btn btn-info btn-sm" type="button">판매완료</button>
                    <button data-target="#sel_del_<%=book.id%>" data-toggle="modal" class="btn btn-danger btn-sm" type="button">판매취소</button>
                  <%elsif book.status =="판매완료" %>
                    <span class="label label-success"><%=book.status%></span><br>
                  <% else %><!--판매중-->
                    <span class="label label-info"><%=book.status%></span><br>
                    <button data-target="#sel_del_<%=book.id%>" data-toggle="modal" class="btn btn-danger btn-sm" type="button">판매취소</button>
                  <% end %>
                  <br>
                  
                  <button data-target="#" data-toggle="modal" class="btn btn-default btn-sm" type="button">정보수정</button>
              </div>
              
              <div class="clearfix"></div>
            </li>
          <!--</a>-->
          <%end%>
          
      </ul>
  </div>

  <%= render "share/modal.erb" %>
  
<% elsif @menu=="구매"%>
  <div class="panel panel-default">
      
    <input type="text" class="form-control" id="contact-list-search">
         
      <ul class="list-group" id="contact-list">
        <% Book.where('buyer =?',current_user.id).reverse_each do |book|%>
        <!--<a href="/deal/view/%=book.id%>" class="list-group-item">-->
          <% @percent = ((1 - book.sell_price.to_f/book.book_price.to_f)*100).to_i %>
          <li class="list-group-item">
              <div class="col-xs-12 col-sm-3">
                  <img class="media-object" src="<%=book.image_url%>" style="float:left;padding-right:20px" width="120" height="120">
              </div>
              <div class="col-xs-12 col-sm-6">
                  <a href="/deal/view/<%=book.id%>">
                    <b><h4 class="media-heading">[<%=book.book_category%>] <%=book.book_title%> </h4>
                  </a>
        					판매가: <%=book.sell_price%>원 (정가대비 <%=@percent%>% 할인)<br>
        					거래일: <%= book.updated_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d %H:%M:%S")%></b>
              </div>
              <div class="col-xs-12 col-sm-3">
                  <% if book.status == "거래중" %>
                    <span class="label label-warning" >판매자 : <%=User.find(book.user_id).nickname%></span><br>
                    <span class="glyphicon glyphicon-phone-alt"></span> : <%=User.find(book.user_id).phone%><br>
                    <button data-target="#buy_del_<%=book.id%>" data-toggle="modal" class="btn btn-danger btn-sm" type="button">구매취소</button>
                  <%elsif book.status =="판매완료" %>
                    <span class="label label-success"><%=book.status%></span><br>
                  <% else %>
                    <span class="label label-info"><%=book.status%></span><br>
                  <% end %>
                  
              </div>
              
              <div class="clearfix"></div>
            </li>
          <!--</a>-->
          <%end%>
          
      </ul>
  </div>
      
  <%= render "share/modal.erb" %>
<% elsif @menu=="프로필"%>
  <div class="row">
    <div class="col-md-10 col-sm-8 col-xs-12">
      <div class="panel panel-default">
      
      	<!--<div class="panel-body">-->
      		
      		<table class="table">
      			<tbody>
      				<tr>
      					<th>이메일</th>
      					<td><%=current_user.email%></td>
      				</tr>
      				
      				<tr>
      					<th>닉네임</th>
      					<td><%=current_user.nickname%></td>
      				</tr>
      				
      				<tr>
      					<th>휴대폰 번호</th>
      					<td><%=current_user.phone%></td>
      				</tr>
      				
      				<tr>
      					<th>학과</th>
      					<td><%=current_user.major%></td>
      				</tr>
      				
      				<tr>
      					<th>이름</th>
      					<td><%=current_user.name%></td>
      				</tr>
      				
      			</tbody>
      		</table>
      	<!--</div>-->
      </div>
    </div>
    
    <div class="col-md-2 col-sm-4 col-xs-12">
      <a href="#edit_info" data-toggle="modal" class="btn btn-success btn-lg btn-block font-hanna">기본정보 수정</a>
      <br>
      <a href="#edit_password" data-toggle="modal" class="btn btn-primary btn-lg btn-block font-hanna">비밀번호 변경</a>
      <br>
      <a href="#destroy_user" data-toggle="modal" class="btn btn-danger btn-lg btn-block font-hanna">회원 탈퇴</a>
    </div>
  </div>
  
  <!--모달-->
  <%= render "share/modal.erb" %>
<%end%>

<script>
$(function () {
    /* BOOTSNIPP FULLSCREEN FIX */
   
    
    $('#contact-list').searchable({
        searchField: '#contact-list-search',
        selector: 'li',
        childSelector: '.col-xs-12',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});
</script>