<div class="content-background" style="padding-top:100px; padding-bottom:100px">
  <div class="row font-hanna">
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
    
   
    <div class="col-lg-8 col-sm-10 col-xs-10">
      <div class="panel panel-default font-hannna">
        <div class="panel-body">
          <h2 align="center">
            [<%=@book.book_category%>] <%=@book.book_title%> <span class="label label-success"><%=@percent%>% 할인</span>
          </h2>
              
            
        </div>
        <div class="panel-footer font-nanum">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12" align="center">
              
              <br>
              <img src="http://bimage.interpark.com/goods_image/3/7/6/2/211073762g.jpg" style="max-width: 90%; height: auto;">
              
              <br>
              
              <a href="/deal/buy_user_list"><button class="grow_box btn-block font-hanna" onclick="alert('구입신청을 하셨습니다! 즉시 판매자에게 문자가 전송되었습니다! ')"><h3>구 입 하 기</h3></button></a>
              (판매자와의 빠른 거래를 위해 사용자의 등록된 휴대폰 번호 정보가 담긴 문자가 전송됩니다.)
              
            </div>

            
            <div class="col-md-9 col-sm-9 col-xs-12">
              <br>
              <br>
              <h4><del><strong> 정가 <%=@book.book_price%>원 </strong></del></h4>
              <h3><strong>판매가 <span class="label label-warning"><%=@book.sell_price%>원</span></strong></h3>
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 책 기본 정보</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>책 이름</th>
                    <td><%=@book.book_title%></td>
                  </tr>
                  <tr>
                    <th>지은이</th>
                    <td><%=@book.book_writer%></td>
                  </tr>
                  <tr>
                    <th>출판사</th>
                    <td>입력안함</td>
                  </tr>
                  <tr>
                    <th>정가</th>
                    <td><%=@book.book_price%></td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 책 상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th width="300px">사용감<br>
                        <small>(겉표지, 구김정도, 젖은흔적 등 전체적인 상태)</small>
                    </th>
                    <td><%=@book.out_state%></td>
                  </tr>
                  <tr>
                    <th>필기상태<br>
                        <small>(책 안의 메모, 낙서 등의 상태)</small>
                    </th>
                    <td><%=@book.in_state%></td>
                  </tr>
                  <tr>
                    <th>분권유무</th>
                    <td><%=@book.saperate%></td>
                  </tr>
                  
                  <tr>
                    <th>판매자 상세설명</th>
                    <td>입력안함</td>
                  </tr>
                  
                </tbody>
              </table>
              
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 판매자 정보</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>아이디</th>
                    <td>ptu_id@naver.com</td>
                  </tr>
                  <tr>
                    <th>판매권수</th>
                    <td>3권 등록 / 1권 판매 완료</td>
                  </tr>
                  
                </tbody>
              </table>
              
            </div>
          </div>
          
            
             <table class="table">
                <thead>
                  <tr>
                    <th class="font-hanna" colspan="2"><h4>판매자에게 질문하기</h4></th>
                  </tr>
                </thead>
                <tbody>  
                  <tr>
                    <th>누구누구</th>
                    <td>연습문제 풀어져있나요?</td>
                  </tr>
                  
                  <tr>
                    <th colspan="2">
                      <div class="input-group" style="width:100%">
                        <input class="form-control" width="100%" type="text" name="reply" required></input>
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">작성</button>
                        </span>
                      </div>
                    </th>
                    
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
  </div>
</div>


