<div class="content-background" style="padding-top:100px; padding-bottom:100px">
  <div class="row font-hanna">
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
    
   
    <div class="col-lg-8 col-sm-10 col-xs-10">
      <div class="panel panel-default font-hannna">
        <div class="panel-body">
          <h2 align="center">
            [<%=@book.book_category%>] <%=@book.book_title%></a>
                <span class="label label-success"><%=@percent%>% 할인</span>
                <%if @book.status == "판매중"%>
                <span class="label label-info"><%=@book.status%></span>
                <%else%>
                <span class="label label-danger"><%=@book.status%></span>
                <%end%>
          </h2>
              
            
        </div>
        <div class="panel-footer font-nanum">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12" align="center">
              
              <br>
              <img src="<%= @book.image_url %>" style="max-width: 90%; height: auto;">
              
              <br>
              <% if @book.status != "판매완료" %>
              <% if current_user%>
                <button id="buy" value="<%=@book.status%>" class="grow_box btn-block font-hanna"><h3>구 입 하 기</h3></button>
                
              <%else%>
              <a href="/users/sign_in"><button class="grow_box btn-block font-hanna" onclick="alert('로그인이 필요한 서비스입니다. 로그인 페이지로 이동합니다! ')"><h3>구 입 하 기</h3></button></a>
                
              <%end%>
              (판매자와의 빠른 거래를 위해 사용자의 등록된 휴대폰 번호 정보가 담긴 문자가 전송됩니다.)
              <%end%>
            </div>

            
            <div class="col-md-9 col-sm-9 col-xs-12">
              <br>
              <br>
              <h4><del><strong> 정가 <%=@book.book_price%>원 </strong></del></h4>
              <h3><strong>판매가 <span class="label label-warning"><%=@book.sell_price%>원</span></strong></h3>
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 책 기본 정보</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="max-width:100px; min-width:50px;width:20%">책 이름</th>
                    <td><%=@book.book_title%></td>
                  </tr>
                  <tr>
                    <th>지은이</th>
                    <td><%=@book.book_writer%></td>
                  </tr>
                  <tr>
                    <th>출판사</th>
                    <td><%=@book.book_company%></td>
                  </tr>
                  <tr>
                    <th>정가</th>
                    <td><%=@book.book_price%></td>
                  </tr>
                   <tr>
                    <th>등록 일시</th>
                    <td><%= @book.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d %H:%M:%S")%></td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 책 상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="max-width:100px; min-width:50px;width:30%">사용감<br>
                        <small>(겉표지, 구김정도, 젖은흔적 등 전체적인 상태)</small>
                    </th>
                    <td><%=@book.out_state%></td>
                  </tr>
                  <tr>
                    <th>필기상태<br>
                        <small>(책 안의 메모, 낙서 등의 상태)</small>
                    </th>
                    <td><%=@book.in_state%></td>
                  </tr>
                  <tr>
                    <th>분권유무</th>
                    <td><%=@book.saperate%></td>
                  </tr>
                  
                  <tr>
                    <th>판매자 상세설명</th>
                    <td>입력안함</td>
                  </tr>
                  
                </tbody>
              </table>
              
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">* 판매자 정보</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="max-width:100px; min-width:50px;width:20%">판매자</th>
                    <td><%=User.find(@book.user_id).nickname%> 
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#detail_user">
                        상세정보
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th>판매권수</th>
                    <td>총 <%=Book.where("user_id =? ", @book.user_id).count%>권 판매</td>
                  </tr>
                  
                </tbody>
              </table>
              
            </div>
          </div>
          
          <% if @book.status != "판매완료" %>
             <table class="table" id="reply_table">
                <thead>
                  <tr>
                    <th class="font-hanna" colspan="2"><h4>판매자에게 질문하기</h4></th>
                  </tr>
                     <colgroup>
                        <col width="50">
                        <col width="500">
                     </colgroup>
                </thead>
                
              
               <% @book.replies.each do |p| %>
                <tbody>  
                  <tr>
                    <th style="max-width:100px; min-width:50px;width:20%"><%= User.find(p.user_id).nickname %></th>
                    <td><%= p.content %></td>
                  </tr>
               <% end %>
              
                 <!--<form action="/deal/reply" method="POST">  -->
                 
                    <tr>
                      <th colspan="2">
                        <% if current_user %>
                        <div class="input-group" style="width:100%">
                          <input class="form-control" width="100%" id="whatwrite" type="text" name="contents"placeholder = "댓글을 입력해주세요." required></input>
                          <input type="hidden" name="book_id" value="<%=@book.id%>">
                          
                          <span class="input-group-btn">
                            <button value = "reply_id" class="btn btn-default reply_submit" type="submit" >작성</button>
                          </span>
                        </div>
                        <%else%>
                        <div class="input-group" style="width:100%">
                          <input class="form-control" width="100%" id="whatwrite" type="text" name="contents" value = "판매자에게 질문 로그인후 이용해주세요!!" disabled></input>
                          
                          <span class="input-group-btn">
                            <a href="/users/sign_in" class="btn btn-primary reply_submit" type="button" >로그인</a>
                          </span>
                        </div>
                        <%end%>
                      </th>
                      
                    </tr>
                    
                  <!--</form>-->
                </tbody>
               
              </table>
              <%else%>
              <% @review.each do |p| %>
              <% if @book.id == p.deal_id %>
              <center>
                
              <span class="font-hanna"><h4>구매자 리뷰</h4></span>
              
              <span class="font-hanna">
              <%=User.find(@book.buyer).nickname%>님 <br>
              
              내용 : <%= p.review %><br>
              평점 : <%= p.star %>
              </span>
              </center>
              <%end%>
              <%end%>
             <%end%>
             
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
  </div>
</div>

<% if current_user %>

<input type="hidden" id="user_nickname" value="<%=current_user.nickname%>">

<script>
$(function() {
$(document).ready(function() {
  
  $("#buy").click(function() {
      // book_id = $(this).val();
      <% if @book.status == "판매중" %>
      $.ajax({
          url:'/deal/buyer_update',
          type:'POST',
          data: {
            book_id: <%=@book.id%>,
            buyer: <%=current_user.id%>,
            status: "거래중"
          },
          success: function(data){
            alert('구입신청을 하셨습니다! 즉시 판매자에게 문자가 전송됩니다! ');
            location.replace('/deal/user?menu=구매');
          },// end
          error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          }
      });// end ajax
      <%else%>
      alert('이미 거래중인 품목입니다. ');
      return false;
      <%end%>
        
  });
});
  
  
 
    $(".reply_submit").click(function() {
      user_nickname = $("#user_nickname").val();
      // user_nickname = user_nickname.toString();
      reply_id = this.value;
      reply_content = $("#whatwrite").val();
      
        $.ajax({
        method: "post",
        url: "/deal/reply",
        data: {contents: reply_content,
               book_id: "<%=@book.id%>"
            },
            
        success: function(){
          $('#reply_table').find("tr:last").before('<tr><th>'+user_nickname+ '</th><td>' + reply_content + '</td></tr>');
          // $("#reply_"+ reply_id).append("<td>"+reply_content+"</td>");
          $("#whatwrite").val("");
     
        },
        
        error: function(){
           alert("댓글을 입력해주세요.");
        }
          
        })
        
    })  
    
});

</script>
<%end%>


<!-- Modal -->
<% @user = User.find(@book.user_id) %>
<div class="modal fade" id="detail_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= User.find(@book.user_id).nickname%> 님의 상세 판매 정보</h4>
      </div>
      <div class="modal-body">
        <strong>* 판매자 정보</strong>
        <table class="table">
    			<tbody>
    				<tr>
    					<th>이메일</th>
    					<td><%=@user.email%></td>
    				</tr>
    				
    				<tr>
    					<th>닉네임</th>
    					<td><%=@user.nickname%></td>
    				</tr>
    				
    				<tr>
    					<th>판매 권수</th>
    					<td>총 <%=Book.where("user_id =? ", @book.user_id).count%>권 판매</td>
    				</tr>
    				
    				<tr>
    					<th>평가</th>
    					<td>별점추가하기</td>
    				</tr>
    				
    			</tbody>
    		</table>
    		
    		<br>
    		
    		<strong>* 판매 물품</strong>
      		<ul class="list-group" id="contact-list">
          <% Book.where('user_id =?',@user.id).reverse_each do |book|%>
            <!--<a href="/deal/view/%=book.id%>" class="list-group-item">-->
            
              <% @percent = ((1 - book.sell_price.to_f/book.book_price.to_f)*100).to_i %>
              <li class="list-group-item">
                  <div class="col-xs-12 col-sm-3">
                      <img class="media-object" src="<%=book.image_url%>" style="float:left;padding-right:20px" width="120" height="120">
                  </div>
                  <div class="col-xs-12 col-sm-7">
                      <a href="/deal/view/<%=book.id%>">
                        <b><h4 class="media-heading">[<%=book.book_category%>] <%=book.book_title%> </h4>
                      </a>
            					판매가: <%=book.sell_price%>원 (정가대비 <%=@percent%>% 할인)<br>
            					판매등록일: <%= book.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d %H:%M:%S")%></b>
                  </div>
                  <div class="col-xs-12 col-sm-2">
                      <% if book.status == "거래중" %>
                        <span class="label label-warning" ><%=book.status%></span><br>
                      <%elsif book.status =="판매완료" %>
                        <span class="label label-success"><%=book.status%></span><br>
                      <% else %><!--판매중-->
                        <span class="label label-info"><%=book.status%></span><br>
                      <% end %>
                      <br>
                      
                  </div>
                  
                  <div class="clearfix"></div>
                </li>
              
            <%end%>
            
          </ul>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        
      </div>
    </div>
  </div>
</div>